#LoadingComponent {
    width: 1280px;
    height: 1080px;
    display: flex;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
    background: white;
}

#logoImgBox {
    width: 178px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

#loadingText {
    font-family: esamanru;
    text-align: center;
    color: #FFD523;
    font-size: 36px;
    margin-top: 28px;
    line-height: 42px;
    letter-spacing: -0.03em;
}